[submodule "cmn_ws/src/cmn_pkg/src/scripts/rotated_rectangle_crop_opencv"]
	path = cmn_ws/src/cmn_pkg/src/scripts/rotated_rectangle_crop_opencv
	url = git@github.com:leimao/Rotated-Rectangle-Crop-OpenCV.git
