[submodule "locobot_ws/src/perception_pkg/src/rotated_rectangle_crop_opencv"]
	path = locobot_ws/src/perception_pkg/src/rotated_rectangle_crop_opencv
	url = git@github.com:leimao/Rotated-Rectangle-Crop-OpenCV.git
